<div class="main-content container mb-5">
    <div id="bookingdetail" class="container row mb-5">
        <div id="booking-left" class="col-12 p-0 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div id="img"></div>
            <div id="your-reservation-frame">
                <div id="reservation-title">
                    YOUR RESERVATION
                </div>
                <div id="reservation" class="row">
                    <div class="col-5 date" id="check-in">
                        <div>CHECK-IN</div>
                        {{{generatedate checkin}}}
                    </div>
                    <div class="col-5 date" id="check-out">
                        <div>CHECK-OUT</div>
                        {{{generatedate checkout}}}
                    </div>
                    <div class="col-5 no-date" id="guests">
                        <div>{{numofguest}}</div>
                        <div>GUESTS</div>
                    </div>
                    <div class="col-5 no-date" id="nights">
                        <div>{{{getnights checkin checkout}}}</div>
                        <div>NIGHTS</div>
                    </div>
                </div>
            </div>
            <div id="total">
                <div id="total-number">{{total}}</div>
                <div>
                    <div>$</div>
                    <div>/ TOTAL</div>
                </div>
            </div>
        </div>
        <div id="booking-right" class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 pl-5">
            <div id="booking-right-title">
                Your Order Details:
            </div>
            <div id="order-transaction">
                <div>Order Transaction</div>
                <div class="description">{{reservationid}}</div>
            </div>
            <div id="user-info" class="d-flex flex-column">
                <div id="name">
                    <span>Name: </span>
                    <span class="description">{{cusname}}</span>
                </div>
                <div id="email">
                    <span>Email: </span>
                    <span class="description">{{cusmail}}</span>
                </div>
                <div id="phone">
                    <span>Phone: </span>
                    <span class="description">{{cusphone}}</span>
                </div>
                <div id="arrival">
                    <span>Arrival: </span>
                    <span class="description">{{custime}}</span>
                </div>
            </div>
            <div id="requests">
                <div>Extra Services:</div>
                <div class="description">{{services}}</div>
            </div>
            <div id="requests">
                <div>Extra requests:</div>
                <div class="description">{{request}}</div>
            </div>
            <div id="payment-options" class="mb-5">
                <div>Payment Options:</div>
                <div class="description">Payment when arrive (default)</div>
            </div>
            <div class="mt-5">
                <a id="btn-return" class="mt-5 p-3" href="/list">
                    RETURN TO SEARCH PAGE
                </a>
            </div>

            <div class="mt-5">
                <a id="btn-return" class="mt-5 p-3" onclick="window.print()">
                    PRINT THIS RESERVATION
                </a>
            </div>

            <div class="mt-4 pt-2">
                {{{generateCancel checkin reservationid}}}
            </div>
        </div>
    </div>
</div>

<script>

</script>