<!-- wrap all content in the page consist of header main content, footer-->
<link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

<div class="container mb-4">
    <div id="table-month" class="container-fluid no-gutters row">
        <div class="col-3">Jan</div>
        <div class="col-3">Feb</div>
        <div class="col-3">Mar</div>
        <div class="col-3">Apr</div>
        <div class="col-3">May</div>
        <div class="col-3">Jun</div>
        <div class="col-3">Jul</div>
        <div class="col-3">Aug</div>
        <div class="col-3">Sep</div>
        <div class="col-3">Oct</div>
        <div class="col-3">Nov</div>
        <div class="col-3">Dec</div>
    </div>
    {{#with room}}
    <!-- content goes here -->
    <div class="main-content">
        <div class="cover-image">
            <div class="row" id="menu-frame">
                <ul class="nav col-6 col-sm-6 col-md-8 col-lg-9 col-xl-9" id="menu">
                    <li class="nav-item dropdown" id="list-tab-room-detail">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">MENU</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" onclick="changeTabRoomDetail(this)">HOME</a>
                            <a class="dropdown-item" href="#txt-room-name"
                                onclick="changeTabRoomDetail(this)">DESCRIPTION</a>
                            <a class="dropdown-item" href="#txt-room-services" onclick="changeTabRoomDetail(this)">ROOM
                                SERVICES</a>
                            <a class="dropdown-item" href="#txt-other-rooms" onclick="changeTabRoomDetail(this)">OTHER
                                ROOMS</a>
                            <a class="dropdown-item" onclick="changeTabRoomDetail(this)">ROOM
                                REVIEW</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" onclick="changeTabRoomDetail(this)">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#txt-room-name" onclick="changeTabRoomDetail(this)">DESCRIPTION</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#txt-room-services" onclick="changeTabRoomDetail(this)">ROOM
                            SERVICES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#txt-other-rooms" onclick="changeTabRoomDetail(this)">OTHER ROOMS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" onclick="changeTabRoomDetail(this)">ROOM REVIEW</a>
                    </li>
                </ul>
                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 price">
                    {{price}}$ / NIGHT
                </div>
            </div>
        </div>
        <div id="room-detail-1" style="display:block">
            <p id="txt-room-name" class="title-page">
                {{name}}
            </p>
            <div id="room-review">
                <span id="txt-review" class="title-room">Room Review</span>
                {{{AvgRating reviews}}}
            </div>
            <div class="detail-frame row">
                <div class="col-sm-12 col-md-12 col-lg-7 col-xl-7" id="left-frame">
                    <div id="room-images" class="carousel slide" data-ride="carousel">

                        {{{createCarousel listImages}}}
                    </div>
                    <div class="row" id="room-info">
                        <div class="col-4">
                            <div class="image-info" id="guests-image"></div>
                            <div>{{capacity}} GUESTS</div>
                        </div>
                        <div class="col-4">
                            <div class="image-info" id="area-image"></div>
                            <div>{{area}} m2</div>
                        </div>
                        <div class="col-4">
                            <div class="image-info" id="price-image"></div>
                            <div>{{price}}$ / NIGHT</div>
                        </div>
                    </div>
                    <div id="info-detail">
                        <div id="head-info">{{name}}
                        </div>
                        <div id="body-info">
                            {{description}}
                        </div>
                    </div>
                    <p id="txt-room-services" class="title-room">Room Services</p>
                    {{{createRoomServices services}}}
                </div>

                <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5 right-frame">
                    <div class="booking-frame">
                        <div class="form-group">
                            <input id="dp1" type="text" class="form-control clickable input-md" id="DtChkIn"
                                placeholder="&#xf133;  Check-In">
                        </div>
                        <div class="form-group">
                            <input id="dp2" type="text" class="form-control clickable input-md" id="DtChkOut"
                                placeholder="&#xf133;  Check-Out">
                        </div>

                        <div class="booking-item check-in">
                            <div id="check-in-text">CHECK-IN</div>
                            <div class="number" id="date-in"></div>
                            <div class="month" id="month-in">

                            </div>
                            {{!-- <i class="fas fa-caret-down button" onclick="downNumber(this)"></i> --}}
                        </div>
                        <div class="booking-item check-out">
                            <div id="check-out-text">CHECK-OUT</div>
                            <div class="number" id="date-out"></div>
                            <div class="month" id="month-out"></div>
                            {{!-- <i class="fas fa-caret-down button" onclick="downNumber(this)"></i> --}}
                        </div>
                        <div class="booking-item guests">
                            <div id="guests-text">GUESTS</div>
                            <div class="number" id="count-guests">1</div>
                            <i class="fas fa-caret-up button" onclick="upNumber(this)"></i>
                            <i class="fas fa-caret-down button" onclick="downNumber(this)"></i>
                        </div>
                        <div class="booking-item nights">
                            <div id="nights-text">NIGHTS</div>
                            <div class="number" id="count-nights">1</div>
                        </div>
                        {{{createToBooking id user}}}
                    </div>
                    <p id="txt-other-rooms" class="title-room">Other Rooms</p>
                    {{{createOtherRooms random user}}}
                </div>
            </div>
        </div>
        <div id="room-detail-2" style="display:none">
            <p class="title-page">Room Review</p>
            <div id="review-frame">
                <div id="txt-average-review" class="title-room">Average Rating</div>
                <div id="average-review-frame" class="row">
                    {{{createOverallRating reviews}}}
                </div>
                <div id="txt-product-review" class="title-room">Customer's reviews</div>

                <div id="comment-frame">
                    <form action="/review" method="POST">
                        {{{UserReview user id}}}
                    </form>
                    {{{showReviews reviews user}}}
                </div>
            </div>
        </div>
    </div>
    {{/with}}

    <!-- Requires Bootstrap, Datepicker, Fontawesome and Jquery -->


</div>
<link rel="stylesheet" type="text/css" href="../css/RoomDetail.css">


<script src="../js/RoomDetail.js"></script>